.japan
{
    height: 200px;
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background: radial-gradient(circle, #ad2332 35%, #ffffff 35%, #ffffff 100%);
}

